html{
  background-color: #E8EAF6;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #1565C0;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 65px;
  
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div{
  text-align:center;
  font-size: 50px;
  margin-top: 100px;
}


section a {
margin-left: 35px;
font-family: 'Ubuntu', sans-serif;
}


table {
width:90%;
table-layout:fixed ;
margin-left: 50px;
}
table, th, td {
border: 1.9px solid #6A1B9A;
border-collapse:separate;
width:90%;
}

tr {
background-color: #E65100;
}
th {
background-color: #1565C0;
color: white;
}

p {
text-align: center;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom: 100px;
color: #E65100;
}

article{
margin-top: 65px;
}

img{
margin-top: 65px;
}

main{
margin-top: 65px;
}

fieldset{
border: 4px solid #1565C0;
border-radius: 4px;
margin: 50px;
}

input[type=submit]{
background-color: #6A1B9A;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
text-align: center;
margin-top: 30px;
margin-bottom: 5px;
margin-left: 400px;
margin-right: 400px;
cursor: pointer;
}

a{
text-align:center;
font-size: 50px;
font-family:'Ubuntu', sans-serif;
color: #1565C0;
}

input:invalid {
border: 2.8px solid #6A1B9A;

}

input:invalid:required {
background-image: linear-gradient(to right, #1565C0, #E65100);
}

input:valid {
border: 2.8px solid #09af00;
}

.highlights{
  font-family: 'Ubuntu', sans-serif;
  font-size: 75px;
}

.standardsans{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


table{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: #E65100;
}